/* Добавьте это, если нужно */
.table_search input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tableTT_header {
    display: flex;
    justify-content: space-between; /* Равномерное распределение */
    padding: 0 10px; /* Добавим отступы */
}

    .tableTT_header p {
        flex: 1;
        text-align: center;
    }

.tableTT_body_item {
    display: flex;
    justify-content: space-between; /* Равномерное распределение */
    padding: 0 10px; /* Добавим отступы */
}
