.menuDesc {
    width: 250px;
    background-color: var(--color-surface);
    height: 100%;
    transition: 0.15s all linear;
    overflow: hidden;
    border-right: 1px solid var(--color-border);
}

.menuDesc > li {
    list-style-type: none;
    height: 60px;
    min-width: 60px;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    transition: 0.2s all ease-in-out;
    position: relative;
    user-select: none;
    color: var(--color-text);
}

.menuDesc > li.active::before {
    content: "";
    background-color: var(--color-primary);
    height: 100%;
    width: 3.5px;
    top: 1px;
    left: 0;
    position: absolute;
}


.menuDesc > li:hover {
    font-weight: 800;
    font-size: 22px;
    cursor: pointer;
    background-color: var(--color-surface-muted);
}

.menuDesc > li > div {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    flex-direction: row;
    gap: 10px;
}

.menuDesc > li > div > p {
    font-size: 16px;
    font-family: "Akrobat";
    color: var(--color-text);
    padding-left: 20px;
    height: 100%;
    overflow: hidden;
    transition: max-height 0.25s ease, visibility 0.25s ease;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsed {
    width: 60px;
    display: flex;
    flex-direction: column;
    min-width: 60px;
}

.expanded {
    width: 250px;
    min-width: 250px;
}

.hidden_text {
    display: none;
}

.visible_text {
    max-height: 60px;
    visibility: visible;
}

.menuIcon {
    width: 30px !important;
    height: 30px !important;
    fill: var(--color-text) !important;
    margin-left: 13px;
}

.menuTooltip {
    margin-left: 10px !important;
}


