.loadingSpinner {
    composes: loadingSpinner from "../../styles/shared-user-editor.module.css";
}

.roleEditWrapper {
    composes: roleEditWrapper from "../../styles/shared-user-editor.module.css";
}

.userEditFooter {
    composes: userEditFooter from "../../styles/shared-user-editor.module.css";
}

.saveButton {
    composes: saveButton from "../../styles/shared-user-editor.module.css";
}

.cancelButton {
    composes: cancelButton from "../../styles/shared-user-editor.module.css";
}

.groups {
    composes: groups from "../../styles/shared-user-editor.module.css";
}

.blockLabel {
    composes: blockLabel from "../../styles/shared-user-editor.module.css";
}

.userInfoBlock {
    composes: userInfoBlock from "../../styles/shared-user-editor.module.css";
}

.blocks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttonDelete {
    composes: buttonDelete from "../../styles/shared-user-editor.module.css";
}

.confirmModalPanel {
    composes: confirmModalPanel from "../../styles/shared-user-editor.module.css";
}


