.connectField_container {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: fit-content;
  border: 1px solid var(--color-border);
  gap: 8px;
  border-radius: var(--radius-md);
  padding: 12px 16px;
  background: var(--color-transparent);
  padding: 16px;
  min-width: 110px;
  justify-content: center;
  cursor: pointer;
  min-height: 65px;
}

.label {
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: var(--color-surface);
    padding: 0 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-text-muted);
    line-height: 1;
    pointer-events: none;
    
}

.iconChecked {
    fill: var(--color-primary);
    width: 30px;
    height: 30px;
}

.iconUnchecked {
    fill: var(--color-border-strong);
    width: 30px;
    height: 30px;
}


