@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat Thin"),
    url("./Akrobat-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat ExtraLight"),
    url("./Akrobat-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat Light"),
    url("./Akrobat-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat Regular"),
    url("./Akrobat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat SemiBold"),
    url("./Akrobat-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat Bold"),
    url("./Akrobat-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat ExtraBold"),
    url("./Akrobat-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  src:
    local("Akrobat Black"),
    url("./Akrobat-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
